<h1>Edit <%=@figure.name%></h1>
<form action="figures/<%=@figure.id%>" method="post">

    <label for="figure_name">Name: </label>
    <input id="figure_name" type="text" name="figure[name]">
    <br>

    <h2>Titles: </h2>
    <%@titles.each do |title|%>
        <label for="title_<%=title.id%>"><%=title.name%></label>
        <input type="checkbox" name="figure[title_ids][]" id="title_<%=title.id%>" value="<%=title.id%>">
        <br>
    <%end%>

    <label for="new_landmark">Add New Landmark To Figure: </label>
    <input id="new_landmark" type="text" name="landmark[name]">
    <br>
    
    <input type="submit" name="Edit Figure" value="Edit Figure">
</form>
